

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: #81D4FA;
  background: -webkit-linear-gradient(145deg, #FAFAFA, #81D4FA);
  background: linear-gradient(145deg, #FAFAFA, #81D4FA);
}
